<table>
    <thead>
        <tr>
            <th>Employeeid</th>
            <th>EmployeeName</th>
            <th>gender</th>
            <th>Title</th>
            <th>Salary</th>
            <th>Address</th>
            <th>DOB</th>
            <th>Department</th>




        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employee">
            <td>{{emp.empid}}</td>
            <td>{{emp.empname}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.title}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.Address}}</td>
            <td>{{emp.DOB}}</td>
            <td [ngSwitch]="emp.department">
              <span *ngSwitchCase="'Development'">Development</span>
              <span *ngSwitchCase="'Design'">Design</span>
              <span *ngSwitchCase="'QA'">QA (Quality Assurance)</span>
              <span *ngSwitchCase="'HR'">HR (Human Resources)</span>
              <span *ngSwitchDefault>Unknown Department</span>
            </td>
          </tr>
          
    </tbody>
</table>